:root {
  $primary-color: #ffed00;
  $primary-font-family: "Segoe UI sans-serif";
  $primary-font-weigth: 700;

  $secondary-color: #10286f;
  $secondary-font-family: "Segoe UI sans-serif";
  $secondary-font-weigth: 500;
}
