$header-height: 48px;
    p-menubar {
        background-color: black;

        img {
            height: 56px;
            margin: 0px 25px;
        }
    
        p-menubarsub {
            margin: 0 0 0 auto !important;
            padding: 0;
        }
        
        .p-menu-botton {
            right: 17px;
            position: absolute;
        }
    
    
}



.p-menubar-end {
    display: none;
}

::ng-deep.cdk-overlay-container {
    display: none;
  }



