<div class="e-mypage">
  <div class="e-mypage-title">
    <h2>Mi perfil</h2>
  </div>
  <div class="e-mypage-container">
    <p-fieldset legend="Información" class="e-fieldset-information">
      <div>
        <form [formGroup]="uiform" (ngSubmit)="send()">
          <p>
            <strong> Nombre : </strong>
            <!--<span>{{usuario?.nombres}}</span >-->
            <input type="text" class="sin-contorno" formControlName="nombreCliente" disabled>
          </p>
          <p>
            <strong> Tipo de documento : </strong>
            <input type="text" class="sin-contorno" formControlName="tipoDocumento" disabled>
            <!--<span>{{usuario?.tpdC_DESCRIPCION}}</span>-->
          </p>
          <p>
            <strong> Nro. Documento : </strong>
            <input type="text" class="sin-contorno" formControlName="nroDocumento" disabled>
            <!--<span> {{usuario?.nrodocumento}}</span>-->
          </p>
          <p>
            <strong> Correo electrónico : </strong>
            <input type="text" pInputText formControlName="email">
            <!--<input type="text" pInputText placeholder="{{usuario?.email|lowercase}}" formControlName="email">-->
          </p>
          <p>
            <strong> Número de Teléfono: </strong>
            <input type="text" pTooltip="Puedes ingresar varios telefonos" pInputText formControlName="telefono">
            <!--<input type="text" pTooltip="Puedes ingresar varios telefonos" pInputText placeholder="{{usuario?.telefono}}" formControlName="telefono">-->
          </p>
            <!-- </div> -->
          <!-- <div class="p-col-5"> -->
          <!-- <p-avatar image="assets/img/profile/amyelsner.png" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar> -->
          <h5>Cambiar contraseña</h5>
          <input pPassword type="password" formControlName="password" promptLabel="Ingresa tu contraseña" weakLabel="Débil" goodLabel="Buena" mediumLabel="Medio" strongLabel="Fuerte" />
          <h5>Confirmar contraseña</h5>
          <input pPassword type="password" formControlName="password" promptLabel="Ingresa tu contraseña" weakLabel="Débil" goodLabel="Buena" mediumLabel="Medio" strongLabel="Fuerte" />
          <br>
          <br>
          <button pButton type="submit" class="p-button-info-bantel">Guardar Cambios</button>
          <!-- </div> -->
        </form>
      </div>

    </p-fieldset>
    <p-fieldset *ngFor="let perfile of plan" legend="Detalle del plan">
      <p>
        <strong> Plan : </strong>
        <span>{{perfile.NombreProducto}}</span>
      </p>

      <p>
        <strong> Monto : </strong>
        <span>{{perfile.PrecioTotalProducto | currency:'S/. '}}</span>
      </p>

      <p>
        <strong> Inicio de facturación : </strong>
        <span>{{perfile.FechaInstalacion|date: 'fullDate':undefined:'es-PE'}}</span>
      </p>
    </p-fieldset>
  </div>
</div>

